a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #github,
a svg:hover #linkedin,
a svg:hover #telegram,
a svg:hover #rs_school_js,
a svg:hover #rs_school_js,
a svg:hover #codewars {
    fill: #111;
}

a svg:active #facebook,
a svg:active #instagram,
a svg:active #github,
a svg:active #linkedin,
a svg:active #telegram,
a svg:active #codewars {
    color: rgb(88, 134, 231);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 1000px;
}

.hr_main {
    border: none;
    background: rgb(51, 103, 214);
    height: 2px;
    width: 100%;
    opacity: 0.2;
}

.hr_sidebar {
    border: none;
    background: white;
    height: 2px;
    width: 100%;
    opacity: 0.2;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: rgb(51, 103, 214);
    color: white;
    height: 100%;
}

.sidebar_container {
    margin: 5px 20px 0 20px;
    min-height: 100vh;
}

.icons_container_element {
    height: 38px;
}

.icons_container_element a svg #facebook,
.icons_container_element a svg #github,
.icons_container_element a svg #linkedin,
.icons_container_element a svg #telegram,
.icons_container_element a svg #rs_school_js,
.icons_container_element a svg #codewars{
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.contact_list {
    list-style: none;
    color: white;
    line-height: 45px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.contact_element_list {
    display: flex;
    align-items: flex-start;
    color: white;
    padding: 0;
    margin: 0;
}

.contact_element_list a {
    color: white;
}

.contact_element_list a:hover {
    color:  #111;
}

.contact_element_list a:active {
    color: rgb(88, 134, 231);
}

.contact_element_list img {
    padding-right: 10px;
}

.icons_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}


.skills_list {
    margin-left: 20px;
    padding: 0;
    color: white;
    line-height: 25px;
}

.languages_list {
    list-style: none;
    padding: 0;
    line-height: 20px;
    color: white;
}


.header {
    grid-area: 1 / 2 / 2 / 3;
    line-height: 36px;
    background-color: #E6E6E6;
    padding: 100px 30px 0 30px;
}

.main {
    color: black;
    background-color: #E6E6E6;
    padding: 0 30px 0 30px;
}

.my_name {
    font-size: 60px;
    font-weight: 800;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 0;
}

.my_name h1 {
    padding: 0;
    margin: 0;
}

.profession {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #3f3f3f;
}

.profession_span {
    color: #6e6e6e;
}

.about_me {
    font-size: 16px;
    line-height: 28px;
}

.about_me_info {
    text-align: justify;
}

.wrapper {
    grid-area: 2 / 2 / 3 / 3;
}

.footer {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(51, 103, 214);
}

.footer_box {
    width: 50px;
}

.profile_photo {
    display: block;
    width: 100%;
}

.education ul {
    padding: 20px;
}


/*body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.sidebar {
    width: 30%;
    background-color: rgb(51, 103, 214);
    color: white;
}

.profile_photo {
    display: block;
}

.sidebar_container {
    margin: 5px 20px 0 20px;
}

.contact_list {
    list-style: none;
    color: white;
    line-height: 45px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.contact_element_list {
    display: flex;
    align-items: flex-start;
    color: white;
}

.contact_element_list a {
    color: white;
}

.contact_element_list img {
    padding-right: 10px;
}

.icons_container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}


.skills_list {
    margin-left: 20px;
    padding: 0;
    color: white;
    line-height: 25px;
}

.languages_list {
    list-style: none;
    padding: 0;
    line-height: 10px;
    color: white;
}

.main {
    width: 70%;
    color: black;
    background-color: #E6E6E6;
    padding: 0 20px 0 20px;
}

.qr_code {
    display: flex;
    justify-content: right;
}

.my_name {
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
}

.my_name h1 {
    padding: 0;
    margin: 0;
}

.profession {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #6e6e6e;
}

.about_me {
    font-size: 16px;
    line-height: 28px;
}

.about_me_info {
    text-align: justify;
}*/
